* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
   padding-left:1em;
    font-size: 2em;
    border-bottom: 2px solid #000;
    height: 28vh;
}

header h1 {
    padding-top: .25em;
}

header img {
    width: 70px;
    margin-left: .25em;
}


#navbar {
    position: fixed;
    left: 0;
    border-right: 2px solid #000;
    height: 100vh;
}

ul {
    width: 100%;
    height: 100%;
}

.main-section ul {
    margin-left: 5em;
}

li {
    height: 12%;
    width: 25vw;
}

hr {
    height: 2px;
}

a {
    text-decoration: none;
    color: #808080;
    width:100%;
    height: 100%;
    margin-left:0;
    margin-right:0;
    padding-left:.25em;
    padding-right:0;
    font-size: 1.9em;
    display: flex;
    align-items: center;
}

a:hover {
    background-color: #deb887;
}

main {
    width: 100%;
}


.main-section {
    width: 75vw;
    padding: 1.5em;
    float: right;
}

.main-section header {
    margin: 2em 0em;
    width: 100%;
}


.main-section h4 {
    margin: 1em 0 0 3em;
}

.main-section p {
    padding: 1rem 3rem;
}

code {
    background-color: #dcdcdc;
    font-size: 1.2em;
    margin: 2em 6em;

    display: block;
}


@media (max-width: 800px) {



    #navbar header {
        font-size: .75em;
        height: 12vh
    }

    #navbar h1 {
        margin-top: 1em;
    }

    #navbar img {
        height: 25px;
        width: 25px;
    }

    .main-section header {
        margin-bottom: 1em;
        height: 15vh;
    }

   

    header h2 {
        font-size: 1em;
    }

    a {
        font-size: .5em;
    }

    li {
        height: 14%;
    }

    .main-section {
        width: 75vw;
        padding: 0;
    }

    #navbar {
        width: 25vw;
    }

}