* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    padding: 1.25em;
    font-size: 1.5em;
    border-bottom: 2px solid #000;
}


#navbar {
    position: fixed;
    left: 0;
    border-right: 2px solid #000;
    height: 100vh;
}

ul {
    width: 100%;
    height: 100%;
}

li {
    height: 14%;
    width: 30vw;
}

hr {
    height: 2px;
}

a {
    text-decoration: none;
    color: #808080;
    width:100%;
    height: 100%;
    margin-left:0;
    margin-right:0;
    padding-left:.25em;
    padding-right:0;
    font-size: 1.9em;
    display: flex;
    align-items: center;
}

a:hover {
    background-color: #deb887;
}

main {

}


.main-section {
    width: 75vw;
    padding: 1.5em;
    float: right;
}

.main-section header {
    margin: 2em;
}


.main-section h4 {
    margin: 1em 0 0 3em;
}

.main-section p {
    padding: 1rem 3rem;
}

code {
    background-color: #dcdcdc;
    padding: .75em;
    line-height: 35px;
     margin: 5em 2.5em;
}


@media (max-width: 800px) {
    main {
        font-size: .5em;

    }

    .main-section {
        width: 100%;
        top: 10vh;
    }

    .sidebar {
        position: fixed;
        top: 0;
        height: 10vh;
        width: 100%;
        background-color: #fff;
        border-bottom: 2px solid #000;
    }

    #navbar header {
        border: none;
        background-color: transparent;
        font-size: .5em;
    }

    #navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .links ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
    }

    .links li {
        padding: 0em;
        margin: 0;
    }

    .links a {
        font-size: .15em;
    }

    #intro::before {
        content: '';
        height: 10vh;
        display: table;
    }
}